<% include partials/head.ejs %>
<body class="no-js">

<div class="container">


<div class="list_recipes">
<% for (let i = 0; i < data.length; i++) { %>
<img class="nextRecipeLeft" src="../../static/images/nextLeftt.svg" alt="">
  <div class="slide">


<h1>
  <a href="/<%= data[i]._id %>"
    ><%= data[i].title %></a>
</h1>
<p>
  <%= data[i].duration %> (hours, minutes)
</p>
<p>
  <%= data[i].amount %>
</p>
<p>
  <%= data[i].description %>
</p>
<button id="verwijderKnop" data-id="<%= data[i]._id%>" type="button" name="button">Remove recipe</button>
</div>
<img class="nextRecipeRight" src="../../static/images/nextRight.svg" alt="">
<% } %>

</div>
</div>
</body>
<% include partials/tail.ejs %>
